name: Auto-add issues to project

on:
  issues:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@0.3.0
        with:
          project-url: 'https://github.com/orgs/aaaapartment/projects/1'
          github-token: ${{ secrets.DATABASE_UPDATE }}
